Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, black, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
    - id: toml-sort
      name: toml-sort
      entry: poetry run toml-sort
      language: system
      types: [toml]
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]

Update README
  README.md
Due: none

Add explicit default environment
  jedi_language_server/server_utils.py
  pyproject.toml
Due: toml-sort, black, pylint

Update readme inspiration
  README.md
Due: none

Remove custom DID_OPEN and DID_CHANGE features
  jedi_language_server/server.py
  pyproject.toml
Due: toml-sort, black, pylint

New pygls removes broken SyncKind, remove hack
  jedi_language_server/server.py
  poetry.lock
  pyproject.toml
Due: toml-sort, black, pylint

Update dependencies / linting tools
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: toml-sort

Add support for textDocument/DocumentSymbol
  jedi_language_server/server.py
  jedi_language_server/server_utils.py
Due: black, pylint

Bump version to 0.3.0
  pyproject.toml
Due: toml-sort

Add changelog
  CHANGELOG.md
Due: none

Wrap jedi script usages access in try/except
  jedi_language_server/server.py
Due: black, pylint

Bump version to 0.3.1
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

BROKEN: added workspace symbol
  .pylintrc
  jedi_language_server/server.py
  jedi_language_server/server_utils.py
  jedi_language_server/type_map.py
Due: black, pylint

Add workspace symbol support
  jedi_language_server/server_utils.py
Due: black, pylint

No longer use private method for workspace completion
  jedi_language_server/server_utils.py
Due: black, pylint

Handle SymbolType correctly (thanks jedi-language-server!)
  jedi_language_server/server.py
  jedi_language_server/server_utils.py
  jedi_language_server/type_map.py
Due: black, pylint

Bump to version 0.4.0
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Fix rename docstring
  jedi_language_server/server.py
Due: black, pylint

Update README with features / configuration
  README.md
Due: none

Bump version / changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Upgrade development dependencies
  poetry.lock
  pyproject.toml
Due: toml-sort

Update readme: coc-diagnostic, wording
  README.md
Due: none

Temporary: constrain Jedi `>=0.15.1,<0.17.0`
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Support Jedi 0.17, remove support for older Jedi
  jedi_language_server/server.py
  jedi_language_server/server_utils.py
  poetry.lock
  pyproject.toml
Due: toml-sort, black, pylint

Update README / changelog
  CHANGELOG.md
  README.md
Due: none

Hover uses Script.help, not Script.infer
  CHANGELOG.md
  jedi_language_server/server.py
  pyproject.toml
Due: toml-sort, black, pylint

Fix DOCUMENT_SYMBOL, organize script and workspace
  CHANGELOG.md
  jedi_language_server/server.py
  jedi_language_server/server_utils.py
  pyproject.toml
Due: toml-sort, black, pylint

Re-add support for workspace/symbol with Project
  CHANGELOG.md
  README.md
  jedi_language_server/server.py
  jedi_language_server/server_utils.py
  pyproject.toml
Due: toml-sort, black, pylint

Working triggers plus better dict completion
  CHANGELOG.md
  jedi_language_server/server.py
  pyproject.toml
Due: toml-sort, black, pylint

Basic user config for triggerCharacters
  jedi_language_server/server.py
Due: black, pylint

Server configuration now somewhat abstracted
  jedi_language_server/server.py
Due: black, pylint

Migrate server_utils to jedi_utils
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, pylint

Fix name-spacing of jedi-utils
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, pylint

Shorten jedi_utils names, remove redundant "get"
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, pylint

Got basic stuff working. Saving for now
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  mypy.ini
  poetry.lock
Due: black, pylint

Got working in generalized sense
  jedi_language_server/server.py
Due: black, pylint

Migrate some helper functions into pygls_utils
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
Due: black, pylint

Move more stuff into pygls_utils
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
Due: black, pylint

Commit that actually gets everything to work right
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  jedi_language_server/type_map.py
Due: black, pylint

Update user documentation
  README.md
  jedi_language_server/pygls_utils.py
Due: black, pylint
